################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WinFormsApp1/FileContentIndex/0c64ca13-4a9d-415a-94b5-05f364599e3d.vsidx
/.vs/WinFormsApp1/FileContentIndex/4941cf43-c2d6-4721-a290-b44b1af8b17b.vsidx
/.vs/WinFormsApp1/FileContentIndex/679102b5-bcfb-4d97-a8f5-b7af9acf299d.vsidx
/.vs/WinFormsApp1/FileContentIndex/78dac03d-1503-4573-a390-7e42bdcc0307.vsidx
/.vs/WinFormsApp1/FileContentIndex/b2afb152-ff03-411a-85e4-dd96647874ec.vsidx
/.vs/WinFormsApp1/FileContentIndex/b908d5aa-dc11-4f94-bc26-6e66e8dd1cb0.vsidx
/.vs/WinFormsApp1/FileContentIndex/cacd9a68-fd4b-4472-95b3-3ed3b7c76f55.vsidx
/.vs/WinFormsApp1/FileContentIndex/e4451de0-f0af-4c3d-bd79-d2d6a17ad1f1.vsidx
