<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AttendanceDB_v2"
			 connectionString="Data Source=LAPTOP-LL0PIN7E\SQLEXPRESS;Initial Catalog=AttendanceDB_v2;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>


</configuration>
