<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings>
  <add name="AttendanceDB"
       connectionString="Data Source=GEMINI;Initial Catalog=AttendanceDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>


</configuration>
