<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
	<add name="AttendanceDB"
		   connectionString="Data Source=GEMINI;Initial Catalog=AttendanceDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
		   providerName="System.Data.SqlClient" />
	</connectionStrings>



	<appSettings>
    <!-- Email credentials for sending notifications -->
    <add key="EmailAddress" value="ashlydavin436@gmail.com"/>
    <add key="EmailPassword" value="your_app_password"/>
  </appSettings>


</configuration>
